
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1356dc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #eaed0d;
}

.content .logo  {
    width: 200px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokebola {
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .2;
    width: auto;
    background-image: none;
}

